@model IEnumerable<CycleSales.CycleSalesModel.Bike>

@{
    ViewBag.Title = "Bikes";
}

<div class="jumbotron">
    <h1>Our Bikes</h1>
    <p class="lead">No matter what your riding style, we have the perfect bike for you. Each bike is built to the highest quality standards and designed to last.</p>
</div>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@Url.Content(item.ImageUrl)" height="150" />
            </td>
            <td>
                <h2>@Html.ActionLink(item.Name, "Details", new { id = item.Bike_Id })</h2>
                <p style="font-size:20pt">$@Html.DisplayFor(modelItem => item.Retail)</p>
                <p>@Html.DisplayFor(modelItem => item.Description)</p>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Bike_Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Bike_Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Bike_Id })
                </p>
            </td>
        </tr>
    }

</table>