@model CycleSales.WarrantyModel.WarrantyInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WarrantyInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateSold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WarrantyYears)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WarrantyYears)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Retailer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Retailer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
